:root {
  --bg-gradient-onyx: linear-gradient(to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97%);
}

.body {
  background-color: #06001efa;
  display: flex;
  justify-content: center;
}

.line {
  color: white;
}

.main {
  width: 60%;
  border-radius: 10px;
  background-color: rgb(48, 48, 214);
  color: white;
  padding: 20px;
}

.infos {
  width: 15%;
  border-radius: 10px;
  padding: 20px;
  margin-right: 30px;
  background-color: rgb(48, 48, 214);
  border: 1.5px solid rgb(113, 113, 215);
}

.infos-photo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  background-color: rgba(72, 72, 255, 0.847);
  width: 70%;
}

.infos-photo img {
  width: 150px;
}

.infos-name {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.infos-container-tags {
  text-align: center;
  margin: 20px;
  margin-bottom: 55px;
  color: white;
  font-size: 10px;
}

.infos-tag {
  background-color: rgba(113, 113, 215, 0.665);
  margin: 5px;
  padding: 8px;
  border-radius: 10px;
}

.infos-container-midias {
  margin-top: 55px;
  font-size: 12px;
  color: white;
}

.infos-container-icone {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.infos-icone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
